
@{
    ViewBag.Title = "QuanLyTinDang";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class=" mx-auto flex min-h-screen w-full">
    <nav class="col-lg-2 hidden lg:block bg-light sidebar ">
        <div class="user_info">
            <a href="#" class="flex flex-col items-center">
                <div class="user_avatar rounded-full overflow-hidden mt-2">
                    <img src="~/Image/DuLieu/NguoiDung/@System.Web.HttpContext.Current.Session["TenFileAnh"]" alt="User Avatar" class="flex-shrink-0 rounded-full object-cover object-center h-20 w-20">
                </div>
                <div class="user_meta mt-3">
                    <div class="inner">
                        <div class="user_name" id="user_name"></div>
                        <div class="user_verify text-gray-700 text-sm" id="user_contact"></div>
                    </div>
                    <div class="user_info_details mt-1 text-gray-600 text-sm text-center">
                        <div id="info_name"></div>
                        <div id="info_contact"></div>
                    </div>
                </div>
            </a>
            <!-- Danh mục Sidebar -->
            <ul class="mt-3">
                <li class="border-b border-b-opacity-0 transition-all hover:border-gray-200 hover:bg-gray-200"><a href="~/NguoiDung/QuanLyTinDang" class="block p-2 hover:text-red-500">Quản lý tin đăng</a></li>
                <li class="border-b border-b-opacity-0 transition-all hover:border-gray-200 hover:bg-gray-200"><a href="~/NguoiDung/ThongTinTaiKhoan" class="block p-2 hover:text-red-500">Sửa thông tin tài khoản</a></li>
                <li class="border-b border-b-opacity-0 transition-all hover:border-gray-200 hover:bg-gray-200"><a href="~/NguoiDung/DangXuat" class="block p-2 hover:text-red-500">Thoát</a></li>
                <!-- Thêm các mục danh mục khác nếu cần -->
            </ul>
        </div>
    </nav>
    <!-- Content Section -->
    <div class="content flex-grow p-4">
        <section id="tbay-breadcrumb" class="bg-rose-200 py-2 hidden md:flex">
            <div class="container mx-auto">
                <div class="flex items-center justify-center h-full">
                    <ol class="flex breadcrumb p-0 m-0">
                        <li><a href="~/Home/Home" class="text-black hover:text-red-500 font-Montserrat hover:no-underline text-sm">Trang chủ</a></li>
                        <li class="mx-1">
                            <span class="content-slash px-2 text-black text-sm">/</span>
                        </li>
                        <li><a href="~/NguoiDung/QuanLyTinDang" class="text-black hover:text-red-500 font-Montserrat hover:no-underline text-sm font-semibold">Quản lý tin đăng</a></li>
                    </ol>
                </div>
            </div>
        </section>
        <h2 class="text-2xl font-bold mt-2">Quản lý tin đăng</h2>
        <div class="filters flex my-4">
            <select id="statusFilter" class="mr-4 p-2 bg-white border rounded">
                <option value="status">Lọc theo trạng thái</option>
                <option value="1">Đã duyệt</option>
                <option value="0">Chưa được duyệt</option>
            </select>
            <button id="postButton" class="post-button bg-blue-500 text-white px-4 py-2 rounded">Đăng tin mới</button>
        </div>
        <div id="partial2Container">

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var maNguoiDung = '@System.Web.HttpContext.Current.Session["MaNguoiDung"]';
        $("#statusFilter").change(function () {
            var selectedValue = $(this).val();
            loadPartialView(selectedValue, maNguoiDung);
        });
    });
    function loadPartialView(trangthai, maNguoiDung) {
        $.ajax({
            url: '/NguoiDung/getTinDang',
            type: 'GET',
            data: { trangthai: trangthai, maNguoiDung: maNguoiDung },
            success: function (result) {
                if (result && result.length > 0) {
                    $("#partial2Container").html(result);
                } else {
                    alert('Không có tin đăng.');
                }
            },
            error: function () {
                alert('Có lỗi xảy ra khi gọi action.');
            }
        });
    }
</script>
<script>
    document.getElementById("postButton").addEventListener("click", function () {
        window.location.href = "/NguoiDung/DangTin";
    });
</script>


