/* Variables */
:root {
    --arrow-height: 9px;
    --arrow-width: 2px;
    --interactive-color: #4338CA;
    --black-color: #111827;
  }
  
  /* General Styles */
  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  /* Title Styles */
  .title {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    color: #a5b4fc;
  }
  
  /* Made Styles */
  .made {
    text-align: center;
    position: absolute;
    bottom: 16px;
    width: 100%;
    color: #a5b4fc;
    display: flex;
    align-items: flex-end;
    gap: 8px;
    justify-content: center;
  }
  
  /* Pagination Styles */
  .pagination {
    padding: 24px;
    position: relative;
    
  }
  
  /* Number Indicator Styles */
  .pagination__number-indicator {
    position: absolute;
    height: 2px;
    background-color: var(--interactive-color);
    opacity: 0;
    bottom: 38px;
    transition: all 0.2s ease;
  }
  
  /* Number Styles */
  .pagination__number {
    font-weight: 600;
    font-size: 16px;
    color: #D1D5DB;
  }
  
  .pagination__number--active {
    color: var(--black-color);
    position: relative;
  }
  
  /* Arrow Styles */
  .pagination__number,
  .pagination__arrow {
    padding: 16px;
  }
  
  .pagination__arrow--right {
    transform: scaleX(-1);
  }
  
  .pagination__arrow:hover .pagination__arrow-half:first-child {
    transform: translateY(calc(var(--arrow-width) / 4)) rotate(-30deg);
  }
  
  .pagination__arrow:hover .pagination__arrow-half:last-child {
    transform: translateY(calc(-1 * var(--arrow-width) / 4)) rotate(30deg);
  }
  
  .pagination__arrow:active .pagination__arrow-half:first-child,
  .pagination__arrow--disabled .pagination__arrow-half:first-child {
    transform: translateY(0) rotate(0);
  }
  
  .pagination__arrow:active .pagination__arrow-half:last-child,
  .pagination__arrow--disabled .pagination__arrow-half:last-child {
    transform: translateY(0) rotate(0);
  }
  
  .pagination__arrow--disabled .pagination__arrow-half:last-child,
  .pagination__arrow--disabled .pagination__arrow-half:first-child {
    opacity: 0.2;
  }
  
  .pagination__arrow--disabled {
    pointer-events: none;
  }
  
  /* Arrow Half Styles */
  .pagination__arrow-half {
    width: var(--arrow-height);
    height: var(--arrow-width);
    border-radius: calc(var(--arrow-width) / 2);
    background-color: var(--interactive-color);
    display: inline-block;
    position: absolute;
    transform-origin: 0px;
    opacity: 1;
    transition: transform 0.1s ease-in-out, opacity 0.2s ease-in-out;
  }
  
  .pagination__arrow-half:first-child {
    transform: translateY(calc(var(--arrow-width) / 4)) rotate(-45deg);
  }
  
  .pagination__arrow-half:last-child {
    transform: translateY(calc(-1 * var(--arrow-width) / 4)) rotate(45deg);
  }
  