@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
@import '~mdb-ui-kit/css/mdb.min.css';
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.swiper-container.swiper-bg {
    background-image: url('/path/to/your/image.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; 
}
.swiper-slide {
    background-image: url('/Image/house_carousel.jpg');
    background-size: cover;
    background-position: center;
  }
header {
    position: relative;
    z-index: 2;
    color: white;
}
.search-content-items{
    justify-content: space-between;
    background-color: rgb(221,221,221,0.5);
    padding: 12px;
    border-radius: 5px;
}
.search-content-item{
    height: 50px;
    background-color: #fff;
    width: 19%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    position: relative;
}
.search-content-item input{
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 36px;
    border-radius: 5px;
}
.search-content-item i{
    position: absolute;
    color: white;
    margin-right: 12px;
    left: 12px;
    z-index: 1;
}
.search-content-item:last-child{
    width: 130px;
}
.search-content-item:last-child button{
    height: 100%;
    width: 100%;
    color: #fff;
    background-color: aqua;
    border: none;
    cursor: pointer;
}
.hidden-header {
    display: none;
}
/* Định dạng mũi tên */
.che-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.che {
    width: 20px;
    height: 20px;
    border-left: 4px solid white; /* Đậm và màu trắng */
    margin: 5px 0;
    animation: moveDown 1.5s infinite;
    opacity: 1;
  }
  
  .chev_2 {
    animation-delay: 0.5s;
  }
  
  .chev_3 {
    animation-delay: 1s;
  }
  
  @keyframes moveDown {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(10px);
      opacity: 1;
    }
    50% {
      transform: translateY(20px);
      opacity: 0;
    }
    75% {
      transform: translateY(10px);
      opacity: 1;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  


  