@model List<HousingSearchApp.Models.QuanHuyen_DTO>

@if (Model != null)
{
    foreach (var quanHuyen in Model)
    {
        <option value="@quanHuyen.maQuanHuyen">@quanHuyen.tenQuanHuyen</option>
    }
}


